* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;


    border: 1px solid;
}

.view {
    height: 100px;
    display: flex;
}

.view__expr {
    align-self: flex-end;
    margin: 0 0 0 auto;
    font-size: 2rem;
}

.column {
   display: flex; 
}

.column .btn {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px;
}
